<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <h3><div class="card-header"></div></h3>
        <div class="card-body">
            <p class="card-text">
                <span><a href="/post/{{id}}">{{title}}</a></span><span style="float:right">Posted by {{user.username}} on {{format_date created_at}}</span><br>
                <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
            </p>
        </div> 
        <div class="card-footer text-muted">
        <p>{{content}}</p>
    </div>
</div>

