<div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
    <h3>
        <div class="card-header">
            <span>
                <a href="/post/{{id}}">{{title}}</a>
            </span>
            <br>
        </div>
    </h3>
        
        <div class="card-body">
            <p class="card-text">
                {{content}}
                <span style="float:right">{{comments.length}}</span>
            </p>
        </div> 
        
        <div class="card-footer">
        <p>
            <button type="submit" class="btn me-md-2 btn-primary" id="delete-post" style="float:left">Delete Post.</button>
            <span style="float:right">Posted by {{user.username}} on {{created_at}}</span>
        </p>

    </div>
</div>

<script src="/js/deletePost.js"></script>
